<main class="index">
    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">App de Links :)</h1>
            <h3 class="mb-5">
                <em>Guarda tus links favoritos</em>
            </h3>
            <a href="/signin" class="btn btn-success">
                Empieza!!
            </a>
        </div>
    </header>
</main>